@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


// Main Theme Colors
$color-primary :  #FF7802;
$color-secondary: #151515;


// Font Families
$font-primary : 'Montserrat', sans-serif;
